@media screen and (max-width: 767px) {
    div.bubble-card.article-header {
        padding-bottom: 60px;
        height: 300px;
    }
    section.blog_body > div.row {
        width: 100%;
        margin-top: 3rem !important;
    }
}

@media screen and (max-width: 1090px) {
    div.bubble-card.article-header {
        padding-bottom: 60px;
        height: 300px;
    }
}

@media screen and (max-width: 1500px) {
    section.blog_body div.row {
        width: 100%;
        margin-top: 3rem !important;
    }
}