@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap');

section.main{
    height: 500px;
    padding-top: 6rem;
    background-color: #009F93;
    z-index: 0;
    overflow: hidden;
    box-shadow: inset 0px -20px 30px rgb(0,0,0,0.15);
}
#home-title{
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-70%);
    text-align: center;
    font-size: 40px;
    width: 40%;
    margin: auto;
    z-index: 1;
}
section.articles{
    background-color:white;
}

section.articles > div.body{
    margin: auto;
    padding-top: 2rem;
}
h1.section-title{
    padding-bottom: 10px;
    margin-bottom: 2rem;
}

h1.section-title::before{
    content: '';
    height: 5px;
    width: 100px;
    position: absolute;
    background-color: white;
    margin-top: 50px;;
}
h1.section-title.black::before{
    background-color: black;
}

/* BLOG BODY */
.blog_body{
    width: 50%;
    margin: auto;
    margin-top: 3rem;
}
.blog_body h2{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    margin-bottom: 1rem;
}
.blog_body p{
    font-family: 'Open Sans', sans-serif;
    text-indent: 1rem;
}
.blog_body .row{
    margin-bottom: 2rem;
}
div.int-lists ul{
    list-style: square;
    margin-top: 0px;
}
div.int-lists ul li a{
    text-decoration: none;
    color: black;
    padding: 3px;
    transition: 0.1s ease-out;

}
div.int-lists ul li a:hover{
    text-decoration: none;
    color:  #009F93;
    background-color: #03312E;
    font-weight: 600;
    transition: 0.1s ease-in;
}

/* All about code */
div.coder {
    box-shadow: 0px 10px 20px grey;
    border-radius: 20px;
    border-top: 2rem;
    border-bottom: 2rem;
}
div.coder > pre {
    margin-bottom: 2rem;
    margin-top: 2rem;
}
code.coder.language-python {
    background-color: #2E3440;
    color: #D8DEE9;
    border-radius: 20px;
    border-bottom: 20px;
}
span.hljs-keyword {
    color: #5E81AC;
}
span.hljs-title.function_,
span.hljs-title.class_{
    color: #88C0D0;
}
span.hljs-built_in{
    color: #D08770;
}

span.hljs-params > span.hljs-type{
    color: #8FBCBB;
}
span.hljs-string{
    color: #EBCB8B
}
span.hljs-deletion, span.hljs-number, span.hljs-quote, span.hljs-literal {
    color: #B48EAD;
}

@media screen and (max-width: 1500px){
    div.row{
        justify-content: normal !important;
        display: block !important;
        margin-bottom: 0px !important;
    }
    div.row div.col{
        max-width: none !important;
        margin-bottom: 2rem;
    }
}


@media screen and (max-width: 767px) {
    #home-title{
        font-size: 25px !important;
        z-index: 0;
    }
    section.main{
        height: 300px;
        z-index: 0;
    }
    .section-title{
        margin-left: 5%;
    }

    .blog_body{
        width: 90%;
    }
}


/*==================*/
/* Article BODY */
/*==================*/

#article-body > h2{
    margin-bottom: 2rem;
    margin-top: 2rem;
    border-bottom: 1px solid grey;
    padding-bottom: 2rem;
}

#article-body > div.coder {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

span.snipp{
    background-color: #E5E9F0;
    color: #5E81AC;
    font-size: 14;
    padding: 2px;
    border-radius: 5px;
}

div.bubble-card.article-header{
    height: 200px;
    width: 100%;
    transition: 0.3s ease-out;
}
div.bubble-card.article-header:hover{
    box-shadow: 0px 5px 20px rgb(0,0,0,0.25);
    transition: 0.1s ease-in;
    transform: translateY(-5px);
    background-color: whitesmoke;
}
div.article-header > div.header{
    position: relative;
    height: 60%;
    padding-top: 20px;
}
div.article-header > div.header > h2{
    font-size: 24px;
}
div.article-header > div.content{
    position: relative;
    height: 40%;
    display: grid;
}
div.article-header > div.content > span.date{
    color: gray;
}
